html {
    width: 1440px;
}

.dflex{
    display: flex;
    flex-wrap: wrap;
}
.box {

    background: aqua;
}
.wrap div{
    width: 270px;
    margin: 3px;
    justify-content: center;
    align-items: center;
}
