html {
    width: 1440px;
}

.dflex{
    display: flex;

}
.fwrap{
    flex-wrap: wrap;
}
.box {

    background: aqua;
}
.wrap div{
    width: 270px;
    margin: 3px;
    justify-content: center;
    align-items: center;
}
.wraper div{
    width: 700px;
    margin: 3px;
    justify-content: center;
    align-items: center;
}
.users-box{

}
.user-block{
    width: 500px;
    margin: 3px;
    justify-content: center;
    align-items: center;
    background:lightgray;


}